<!-- templates/recuperar.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Recuperar Senha</title>
  <link rel="style/sheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>
    <h2>Recuperar Senha</h2>
    <form action="{{ url_for('verificar_resposta') }}" method="POST">
        <label>Nome de Usuário:</label>
        <input type="text" name="usuario" required>
        <button type="submit">Continuar</button>
    </form>
</body>
</html>